@import "tailwindcss";

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  font-family: "Geist", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #cd9272;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #8b3923;
  text-decoration: inherit;
}
a:hover {
  color: #6b2c1b;
}

p {
  @apply text-[1rem];
}

body {
  background: #1f0e07;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  @apply text-[2rem] md:text-[3rem] tracking-tight;
  
  line-height: 1.1;
  font-weight: 500;
}

h2 {
  @apply text-[1.875rem] md:text-[2.5rem] tracking-tight font-semibold;
}

h3 {
  @apply text-[1.67rem] md:text-[2rem] tracking-tight font-semibold;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header {
  @apply text-[1.55rem] md:text-[3rem] tracking-tight;
  
  line-height: 1.1;
  font-weight: 500;
}

.colsection {
  @apply  w-[calc(0.8*100%)] md:w-[calc(0.625*100%)] pt-20 md:pt-32
}
