@import "tailwindcss";

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  font-family: "Geist", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #cd9272;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #8b3923;
  text-decoration: inherit;
}
a:hover {
  color: #6b2c1b;
}

body {
  background: #1f0e07;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply text-[18px];
}

h1 {
  @apply text-[2rem] md:text-[3rem] tracking-tight;
  
  line-height: 1.1;
  font-weight: 500;
}

h2 {
  @apply text-[1.875rem] md:text-[2.5rem] tracking-tight font-semibold;
}

h3 {
  @apply text-[1.67rem] md:text-[2rem] tracking-tight font-semibold;
}

h4 {
  @apply text-[1.275rem] md:text-[1.7rem] tracking-tight font-semibold;
}

.header {
  @apply text-[1.55rem] md:text-[3rem] tracking-tight;
  
  line-height: 1.1;
  font-weight: 500;
}

.colsection {
  @apply  w-[calc(0.8*100%)] md:w-[calc(0.625*100%)] pt-20 md:pt-32
}
